/* General Elements*/
body{
	margin: auto;
}
.wrapper{
	margin: auto;
	width: 900px;
	align-content: center;
}
div{
	background-color: white;
	margin: 10px;
	width: 25%;
	border: solid 2px antiquewhite;
	padding: 10px;
	margin: auto;
}

h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}
/* Specfic Elements*/
div.header, div.gems{
	background-color: #e0e0eb;
}
div.header, div.instructions{
	width: 80%;
}
/* Classes */
.numberToMatch, .winsAndLosses{
	margin: auto;
	width: 80%;
	height: 60px;
	text-align: center;;
}
.userTotal{
	height: 60px;
	width: 80%;
	margin: auto;
	text-align: center;
;}
.gems{
	clear: both;
	margin: auto;
	width: 80%;
	text-align: center;
}
.gemImage{
	height: 60px;
	margin: 10px;

}
/* IDs */
#blue{
	color: #3092c7;
}
#green{
	color: #00aa59;
}
#red{
	color: #ec4b5f;
}
#yellow{
	color: #ffc225;
}
#numberWins{
	text-align: left;
}
